.bread1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    p {
        text-align: center;
        width: 50%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: 70%;
        height: auto;
        margin-bottom: 10px;
    }
}

.bread01 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.bread01 img {
    width: 20%;
    height: auto;
}

.bread-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}