.bread1 {
    display: flex;
    justify-content: center;
}

.bread1 img {
    width: 70%;
    height: auto;
}

.bread01 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bread01 img {
    width: 30%;
    height: auto;
}