.bread1 {
    display: flex;
    justify-content: center;
}

.bread1 img {
    width: 70%;
    height: auto;
}

.bread01 {
    display: flex;
    justify-content: center;
}

.bread01 {
    width: 30%;
    height: auto;
}