.ode1 {
    display: flex;
    justify-content: center;
}

.ode1 img{
    width: 1200px;
    height: auto;
    /*
    border: .5px solid white;
    */
}

.odetext {
    display: flex;
    justify-content: center;
}

.odetext p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 50%;
}

.ode01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    gap: 5px;
    */
}
.ode01 img {
    width: 33.33%;
    height: auto;
    /*
    border: .5px solid white;
    */
}