.pap1 img {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
}

.pap1 p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    justify-content: flex-start;
    width: 1000px;
    color: white;
}

.pap0 img {
    display:flex;
    justify-content: flex-start;
    height: 400px;
    margin-left: 30px;
    flex-wrap: wrap;

}

.pap0 p {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: black;
}
.margin {

}

/*.margin {
    margin-top: 50px;
    float: left;
    width: 50%;
    max-width: 100%;
    max-height: 100%;

}

.margin img {
    height: 400px;
    object-fit: cover;
}

.margin1 {
    margin-top: 50px;
    float:left;
    width:50%;
}

.margin2 {
    margin-top: 50px;
    float: right;
    width: 50%;
}

.margin3 {
    margin-top: 50px;
    float:left;
    width: 50%;
} /*