.pap1 {
    display: inline-block;
    text-align: center;
}
.pap1 img {
    width: 70%;
    height: auto;
    border: .5px solid white;
}

.pap1 p  {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    justify-content: center;
    color: white;
    text-align: center;
}

.pap01 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.pap01 img {
    width: 45%;
    height: auto;
    /* border: .5px solid white; */
}

.pap02 {
    display: flex;
    justify-content: center;
}

.pap02 img {
    width: 30%;
    height: auto;
}



/*.margin {
    margin-top: 50px;
    float: left;
    width: 50%;
    max-width: 100%;
    max-height: 100%;

}

.margin img {
    height: 400px;
    object-fit: cover;
}

.margin1 {
    margin-top: 50px;
    float:left;
    width:50%;
}

.margin2 {
    margin-top: 50px;
    float: right;
    width: 50%;
}

.margin3 {
    margin-top: 50px;
    float:left;
    width: 50%;
} */