.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap;
    width: 100%;
}

:root {
    --base-width: 30vw;
    --multiplier: 0.7;
}

.column {
    display: inline-block;
    vertical-align: top;

    /* flex-basis: 30%; */
    border: .5px solid white;

    width: var(--base-width);
    height: calc(var(--base-width) * var(--multiplier));

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    a {
        text-decoration: none;
    }

    .column-content {
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.467);
    
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 100ms;
    }

    &:hover {
        .column-content {
            opacity: 1;
        }
    }
}


.column p {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}