---
import '../styles/about.css'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>

<h1>
    Hi! My name is Irene Park.
    I’m currently a junior studying Graphic Design at the Rhode Island School of Design. My recent work focuses on bookmaking while incorporating imagery into typography.
</h1>

</Layout>