---
import '../styles/about.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>

<div class="text">
    <h1>Hi! My name is Irene.</h1>
    <p>
        I'm currently a junior studying Graphic Design at the Rhode Island School of Design. My recent work focuses on bookmaking while incorporating imagery into typography.
    </p>
    <p>
</div>

</Layout>