---

import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'

import '../styles/bed.css'

---

<Layout>

    <Header />

    <div class="bed1">
        <img src="/images/bed1.png">
        <p>Ronald Van Der Kemp's collection </p>
    </div>
    <div class="bed2">
        <img src="/images/bed5.png">
        <img src="/images/bed3.png">
        <img src="/images/bed2.png">
        <img src="/images/bed4.png">
        <img src="/images/bed.png">
        <img src="/images/bedtest.png">
    </div>

</Layout>

<!-- hey dumbass irene if you want to mass replace text do command f and then type it in and then u can press the
 arrow down to type in fucking whatever u want to replace it with and there are buttons -->