---
import '../styles/bread.css'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>


<Header/>
    <div class="bread1">
        <img src="/images/bread01.jpg">
    </div>
    <div class="bread01">
        <img src="/images/breadd.jpg">
        <img src="/images/breadd2.jpg">
        <img src="/images/breadd3.jpg">
        <img src="/images/breadd4.jpg">
        <img src="/images/breadd5.jpg">
    </div>

</Layout>
