---
import '../styles/bread.css'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>


<Header/>
    <div class="bread1">
        <img src="/images/bed1.jpg">
    </div>

</Layout>
