---
import '../styles/bread.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>


<Header/>

<div class="bread-container">
    <div class="bread1">
        <img src="/images/bread01.jpg">
        <p>
            Bread has always been a staple. Though in recent years, the bread industry has taken a turn towards commercialization, a stark contrast towards its related artisanal traditions. To reflect this, I designed coupons for these modern bread varieties.
        </p>
    </div>
    <div class="bread01">
        <img src="/images/breadd.jpg">
        <img src="/images/breadd2.jpg">
        <img src="/images/breadd3.jpg">
        <img src="/images/breadd4.jpg">
        <img src="/images/breadd5.jpg">
    </div>
</div>
    

</Layout>
