---
import '../styles/darkroom.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>
<div class="darkroom-container">
    <img src="/images/darkroom1 .jpg">
    <img src="/images/darkroom2 .jpg">
    <img src="/images/darkroom3 .jpg">
    <img src="/images/darkroom4 .jpg">
    <img src="/images/darkroom5 .jpg">
    <img src="/images/darkroom7 .jpg">
    <img src="/images/darkroom8 .jpg">
    <img src="/images/darkroom9 .jpg">
    <img src="/images/darkroom10.jpg">
    <img src="/images/darkroom11 .jpg">
    <img src="/images/darkroom12 .jpg">
    <img src="/images/darkroom13 .jpg">
    <img src="/images/darkroom14 .jpg">
    <img src="/images/darkroom15 .jpg">
</div>

</Layout>