---
import '../styles/portfolio.scss'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>

<Header />     
<div class="row">
        <!-- <div class="column">
            <a href="pap.html"><img src="/images/pfimg.png"></a>
                <p>People & Places</p>
        </div> -->
        <div class="column"
            style="background-image: url(/images/pfimg.png)"
        >
            <a href="pap.html"><div class="column-content"><p class="column-text">People & Places</p></div></a>
        </div>
         <div class="column"
            style="background-image: url(/images/bedtest.png)"
        >
            <a href="bed.html"><div class="column-content"><p class="column-text">Bed</p></div></a>
        </div>

        <div class="column"
            style="background-image: url(/images/pfimg2.png)"
        >
            <a href="ode.html"><div class="column-content"><p class="column-text">Ode to the Book</p></div></a>
        </div>

         <div class="column"
            style="background-image: url(/images/bread1.jpg)"
        >
            <a href="bread.html"><div class="column-content"><p class="column-text">Bread</p></div></a>
        </div>
        
         <div class="column"
            style="background-image: url(/images/bread1.png)"
        >
            <a href=""><div class="column-content"><p class="column-text">Darkroom</p></div></a>
        </div>
        
        
        <!-- <div class="column">
            <a href="bed.html"><img src="/images/bedtest.png"></a>
                <p>Bed</p>
        </div>
        
        <div class="column">
            <a href="ode.html"><img src="/images/pfimg2.png"></a>
                <p>Ode to the Book</p>
        </div>

        <div class="column">
            <a href="bread.html"><img src="/images/bread1.jpg"></a>
                <p>Bread</p>
        </div>

        <div class="column">
            <a href="ode.html"><img src="/images/pfimg2.png"></a>
                <p>Darkroom</p>
        </div> -->
    </div>
</div>
</Layout>

<!-- to run the server open up terminal (ctrl + shift + button under esc) and type "npm run dev" in the terminal
 then u can open ur shit on http://localhost:4321 -->