---
import '../styles/portfolio.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>

<Header />
    <div class="row">
        <div class="column">
        <a href="pap.html"><img src="/images/pfimg.png"></a>
            <p>People & Places</p>
        </div>

        <div class="column">
            <a href="bed.html">img src="/images/bedtest.png"></a>
            <p>Bed1</p>
        </div>
        
        <div class="column">
            <a href="ode.html"><img src="/images/pfimg2.png"></a>
            <p>Ode to the Book</p>
        </div>
    </div>
</Layout>

<!-- to run the server open up terminal (fn + shift + button under esc) and type "npm run dev" in the terminal
 then u can open ur shit on http://localhost:4321 -->