---
import '../styles/jazz.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>

<div class="jazz1">
    <img src="/images/jazzimg.jpg">
</div>
<div class="jazz2">
    <img src="/images/jazz01.png">
    <img src="/images/jazz02.png">
    <img src="/images/jazz03.png">
</div>
</Layout>