---
import '../styles/jazz.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>

<div class="jazz1">
    <img src="/images/jazzimg.jpg">
    <p>
        Modal jazz, popularized by legendary figures like Miles Davis and John Coltrane in the 1950s and 1960s, explores unconventional harmonic structures. I developed a brand identity that merges tradition with modern expression called Jazz Lounge.
    </p>
</div>
<div class="jazz2">
    <img src="/images/jazz01.png">
    <img src="/images/jazz02.png">
    <img src="/images/jazz03.png">
    
</div>
<div class="jazz3">
    <img src="/images/jazzcard1.png">
    <img src="/images/jazzcard2.png">
</div>

</Layout>