---
import '../styles/ode.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>

    <Header />

    <div class="ode1">
        <img src="/images/type3bookgif copy.gif">
    </div>
    <div class="odetext">
        <p>ode to the book text</p>
    </div>
    <div class="ode01">
        <img src="/images/t31 copy.png">
        <img src="/images/t32 copy.png">
        <img src="/images/t33 copy.png">
        <img src="/images/t34 copy.png">
        <img src="/images/t35 copy.png">
        <img src="/images/t36 copy.png">
        <img src="/images/t37 copy.png">
        <img src="/images/t38 copy.png">
        <img src="/images/t39 copy.png">
        <img src="/images/t40 copy.png">
        <img src="/images/t41 copy.png">
        <img src="/images/t42 copy.png">
        <img src="/images/t43 copy 2.png">
        <img src="/images/t44 copy.png">
        <img src="/images/t45 copy.png">
    </div>
</Layout>


<!--
<div class="ode01">
    <img src="/images/t31 copy.png">
    <img src="/images/t32.png">
    <img src="/images/t33.png">
</div>
<div class="ode02">
    <img src="/images/t34.png">
    <img src="/images/t35 copy.png">
    <img src="/images/t36 copy.png">
</div>
<div class="ode03">
    <img src="/images/t37 copy.png">
    <img src="/images/t38 copy.png">
    <img src="/images/t39 copy.png">
</div>
<div class="ode04">
    <img src="/images/t40 copy.png">
    <img src="/images/t41 copy.png">
    <img src="/images/t42 copy.png">
</div>
<div class="ode05">
    <img src="/images/t43 copy 2.png">
    <img src="/images/t44 copy.png">
    <img src="/images/t45 copy.png">
</div>
-->