---
import '../styles/pap.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>

<Header />

    <div class="pap1">
        <img src="/images/115.JPG">
        <p>Ode To The Book
        For my Intro to Darkroom final I compiled 
        a series called “People & Places”.
        The collection is meant to showcase a moment
        of a stranger. We are not meant to personally
        know these individuals' lives, we can 
        create our own narratives. This is heavily
        influenced by Garry Winogrand, straying 
        away from posed figures and leaning towards
        the unguarded human form. The photos were
        all taken using a Pentax K1000 on Ilford film.
        </p>
        <p>Much like Winogrand's attitude towards photography, the process of image taking almost began to look accidental. The importance of the viewfinder lessened when I realized how quickly I must commit to</p>
    </div>
    
    <div class="pap0">
        <img src="/images/pap2.png">
        <img src="/images/pap1.png">
        <img src="/images/113.JPG">
        <img src="/images/114.JPG">
    </div>
<Layout />