---
import '../styles/weeklyworm.scss'
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>

<Header/>
<div class="w1">
    <img src="/images/weeklyworm.gif">
    <p>
        As a way to make reading a more enjoyable experience for myself, I created a weekly fictional story publishing site designed to make reading more engaging and interactive. Developed with HTML and Javascript.
    </p>
</div>
<div class="w2">
    <p>
        Click the link to check it out!</p>
        <a href="https://weeklyworm.com/">weeklyworm.com</a>
</div>


</Layout>