---
import '../styles/header.scss'
---

<nav class="navbar">
    <div class="nav">
      <div class="name">Irene Park</div>
      <ul>
          <li><a href="/" class="deco">Work</a></li>
          <li><a href="/about" class="deco">About Me</a></li>
      </ul>
    </div>
  <div class="vertical-line"></div>
</nav>

<!-- if u want to link other pages use ./name-of-page NO .ASTRO except index whcih is just ./ -->